.date-picker {
  --bg: #ffffff;
  --text-color: #7e8190;
  --selection: #2d4c82;
  --hover: rgb(45 76 130 / 16%);
  position: relative;
  color: var(--text-color);
  width: 100%;
}

.date-picker input.date-input {
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 7px -4px gray;
  box-sizing: border-box;
  caret-color: transparent;
  color: var(--text-color);
  height: 40px;
  padding: 8px;
  outline: 0;
  text-overflow: ellipsis;
  width: 100%;
}

.date-picker input.date-input.has-icon {
  padding-right: 32px;
}

.date-picker .calendar-icon {
  fill: var(--text-color);
  height: 40px;
  position: absolute;
  right: 4px;
  width: 25px;
}

.date-picker input.date-input::-webkit-input-placeholder {
  opacity: 0.5;
}

.date-picker-options {
  background: var(--bg);
  border-radius: 10px;
  box-shadow: 0 0 8px -4px gray;
  font-size: 1em;
  margin: 4px 0;
  min-width: 10em;
  padding: 4px;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.date-picker-options.bottom {
  top: 40px;
}

.date-picker-options.top {
  bottom: 40px;
}

.date-picker-options.left {
  right: 0px;
}

.date-picker-options.right {
  left: 0px;
}

.date-picker-options .option-search-input {
  border: 1px solid #ababab;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 12px;
  height: 28px;
  margin-bottom: 5px;
  padding: 6px;
  outline-color: var(--hover);
  width: 100%;
}

.date-picker-options .divider {
  background: var(--text-color);
  border: 0;
  height: 1px;
  margin: 4px;
}

.date-picker-options .relative-option {
  align-items: center;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  gap: 10px;
  margin: 2px 0;
  padding: 4px 8px;
}

.date-picker-options .relative-option.selected,
.date-picker-options .relative-option:hover {
  background: var(--hover);
  color: var(--selection);
}

.date-picker-options .relative-option:hover .arrow {
  color: var(--selection);
}

.date-picker-options .relative-option.absolute {
  justify-content: space-between;
}

.date-picker-options .relative-option .arrow {
  color: var(--text-color);
  line-height: 16px;
}

.date-picker-options .relative-option .arrow.left {
  transform: rotate(180deg);
  margin-top: 2px;
}
